[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
paramiko = "*"
paramiko-expect = "*"

[packages]

[requires]
python_version = "3.7"

[scripts]
dump = "python main.py"

